    <h1>Roadmap</h1>
    <h2>Aims</h2>
    <ul>
        <li>See where requests are being generated</li>
        <li>See what is being hit</li>
        <li>zoom in on ip</li>
        <li>realtime</li>
    </ul>

    <h2>Tasks</h2>
    <ol>
        <li><strike>remove image, css and js files from request list</strike></li>
        <li><strike>twig templating</strike></li>
        <li>show top paths</li>
        <li>show current log info</li>
        <li>read vhosts or a submitted file to match logs to domain</li>
        <li><strike>Add some bootstrap</strike></li>
        <li><strike>split demo into files and templates</strike></li>
        <li>show date / time range of results</li>
        <li>click ip to see details</li>
        <li>ajax tail logs</li>
        <li>json and memcache or sql result sets</li>
        <li>export results</li>
        <li>force https</li>
        <li>block ip</li>
        <li>unzip logs</li>
        <li>show refferer</li>
        <li>read and show errors</li>
        <li>replay</a>
        <li>requests/s total by ip and url</a>
        <li>top burst request/s</li>
        <li>show heavy pages (by number of images / css etc)</li>
        <li>panel for info on apache chlidren, mysql requests/s, memory, disk etc</li>
        <li>panel for info on php version and settings like memory</li>
        <li>charts</li>
        <li>nginx support</li>
        <li>unit test each section</li>
        <li>speed test each section</li>
    </ol>

    <h2>Details</h2>
    <ul>
        <li>link to url</a>
        <li>location, whois on ip</a>
    </ul>
